html {
    font-family: 'Segoe UI', Segoe, sans-serif;
}

*{
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #888;    
    font-size: medium;
    max-width: 800px;
    margin: auto;
    text-align: center;   
}
body.showcase {
    background: black url("thecaterpillar1.5.jpg") repeat fixed center;
}
body.profile {
    background: linear-gradient(to bottom, #001 0%, #002 90%);
}

p, a, h2, h3, h4, h5, h6, ul, ol {
    text-shadow: 0 0 5px #000;
    color: #fff;
    text-decoration: none;
}

.greeting{
    font-weight: 500;
    font-size: larger;
    margin: 20px auto;
}

.poem{
    font-size: smaller;
}

.alert{
    text-align: left;
    padding: 16px;
    background-color: rgba(256,256,0,0.5);
    border: 1px solid yellow;
    color: black;
    font-weight: 600;
    text-shadow: none;
}

div.head {
    position: relative;
    
}

div.head > img {
    width: 100%;
    vertical-align: bottom;
}

div.head-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-align: right;
}

h1 {
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    text-shadow: 0 0 10px white;
}

h1.black{
    color: #000;
}

@media only screen and (min-width: 370px){
    h1 {
        font-size: 36px;
    }
}

p.sub-white {    
    color: #fff;
    text-shadow: 0 0 10px #fff;
    margin-top: 0;
    margin-bottom: 8px;
}

p.sub-black {
    color: #000;
    text-shadow: 0 0 10px #fff;
    margin-top: 0;
    margin-bottom: 8px;
}

div.icon {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
    margin: auto;
    background-image: url("favicom-240.jpg");
    background-size: 100%;
    transition-duration: 0.2s; 
    transition-timing-function: ease;   
}

div.icon:hover{
    box-shadow: 0 0 15px 5px white;    
    background-image: url("favicon-200.jpg");
    transition-duration: 1s;
}

p, h2, h3, h4, h5, h6{
    clear: left;
}

h2.one {
    border-left: 6px solid #080;
    background-color: #040;
    padding: 5px 10px;
    font-weight: 300;
    text-align: left;
    font-size: medium;
    margin-top: 2em;
}

ul, ol{
    text-align: left;
}

ul.circle {
    list-style-type: circle;
}

ul.square {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}        


.ita {
    font-style:  italic;
    }

.obl {
    font-style:  oblique;
    /* This is
    a multi-line
    comment */
    }

.nor {
    font-style: normal;
}

.orig {
    font-family: 'Segoe UI', Segoe, sans-serif;
    color: #888;
    font-size: medium;    
}

.smcaps {
    font-weight: 100;
    font-variant: small-caps;
}

.center {
    text-align: center;
    }

.xsm {
    font-size: x-small;
}

div.arrow{
	width: 0; 
	height: 0; 
	font-size: 0;
	line-height: 0;
    display: inline-block;
    vertical-align: top;
    background: none;
}
div.arrow.down {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid red;
}
div.arrow.up {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid yellow;
}
div.arrow.left {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid yellow;
}
div.arrow.right {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid yellow;
}

a.inline-internal:link, a.inline-internal:visited {
    color: rgb(167, 255, 160);
}

a.inline-internal:hover, a.inline-internal:active {
    color:  rgb(0, 170, 0);
}

a.inline-external:link, a.inline-external:visited {
    color: #ffb3ad;
}

a.inline-external:hover, a.inline-external:active {
    color: red;
}

a.block-internal:link, a.block-internal:visited {
    background-color: rgba(0, 126, 0, 0.50) ;
    padding: 10px 25px; 
    margin: 1px;
    display: inline-block;
    transition-duration: 0.5s;
}

a.block-internal:hover, a.block-internal:active {
    background-color: rgba(0, 126, 0, 1);
    transition-duration: 0s;
}

a.block-external-old:link, a.block-external-old:visited{
    background-color:  rgba(255, 0, 0, 0.5);
    padding: 10px 25px; 
    margin: 1px;
    display: inline-block;
    transition-duration: 0.5s;
}

a.block-external-old:hover {
    background-color: red;
    transition-duration: 0s;
}

div.headinglinks{
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}  

a.block-external:link, a.block-external:visited{
    background-color:  rgba(255, 0, 0, 0.5);
    background-image: none;
    background-position: center center;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    text-shadow: 0 0 5px 0 black;
    padding: 10px 25px; 
    margin: 1px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    transition-duration: 0.5s;
    width: 160px;
}

a.block-external:hover {
    background-color: red;
    box-shadow: 0 0 5px white;
}

a.block-external:hover::after, a.block-external:hover::before{
    font-variant: small-caps;
    font-stretch: condensed;
}

a.caterpillar:hover {
    background-image: linear-gradient(red 0%, red 100%), url(rutigblog180.jpg);
    padding-bottom: 108px;
}

a.caterpillar:hover::after {
    content: "blog";
}

a.meticulosa:hover {
    background-image: linear-gradient(red 0%, red 100%), url(anshablog180.jpg);
    padding-bottom: 108px;
}

a.meticulosa:hover::after {
    content: "moth blog";
}

a.flickr:hover {
    background-image: linear-gradient(red 0%, red 100%), url(lycle-head-360.jpg);
    padding-bottom: 108px;
}

a.flickr:hover::after {
    content: "      photostream";
}

a.youtube:hover {
    background-image: linear-gradient(red 0%, red 100%), url(grayl-head-360.jpg);
    padding-bottom: 108px;
}

a.youtube:hover::after {
    content: "      channel";
}

a.checklist:hover {
    background-image: linear-gradient(red 0%, red 100%), url(eucam-head-360.jpg);
    padding-bottom: 66px;
}

a.checklist:hover::after {
    content: "micro-moth county distributions";
}

a.periodic:hover {
    background-image: linear-gradient(red 0%, red 100%), url(petab-head-360.jpg);
    padding-bottom: 129px;
}

a.periodic:hover::before {
    content: "";
}

a.geronimo:hover {
    background-image: linear-gradient(red 0%, red 100%), url(geron-head-360.jpg);
    padding-bottom: 45px;
}

a.geronimo:hover::after {
    content: "       doctor who theme - original arrangement";
}

.gravatar {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    transition-duration: 0.5s; 
}

.gravatar.s120 {
    height: 120px;
    width: 120px;
    border-radius: 20px;
    transition-duration: 0.5s; 
}

.gravatar:hover {
    box-shadow: 0 0 5px white;
    transition-duration: 0s;
}

/****MOBILE FIRST NAV BAR****/
nav {
    height: 0;
    /*background-color: rgba(0, 128, 0, 0.50); */
}

/*level 1-3 list*/
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: left;
    /*overflow: hidden;*/
}
/*level 2-3 lists*/
nav ul ul {
    position: relative;
    top: 0;
    left: 0;
    display: none;
}
nav li:hover > ul, 
nav li:focus > ul {
    display: block !important;
}

/*level 1-3 list items*/
nav li {
    position: relative;
    float: left;
    vertical-align: top;
    text-indent: 0;
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 0 4px;
    transition-duration: 0.5s;
}
nav li.internal {
    background-color: #040;
}
nav li.external {
    background-color: #800;
}
nav li.internal:hover {
    background-color: #080 !important;
    transition-duration: 0s;
}
nav li.external:hover {
    background-color: #f00 !important;
    transition-duration: 0s;
}
nav li.end {
    height: 4px;
}
nav li.section {
    padding: 4px 0 0 16px; 
    background-color: #080;
    font-variant-caps: all-small-caps;
}
nav li.section::after {
    content: ":";
}
/*level 1 list item*/
nav > ul > li.this-page {
    /*background-color: #080*/
}
nav > ul > #endbar {
    height: 4px;
    padding: 0;
    background-color: rgba(0, 128, 0, 0.50);
    margin-bottom: 19px;
    transition-duration: 0s;
}
/*level 2-3 list items*/
nav li.external > ul > li.end{
    background-color: #f00 !important;
}
nav li.internal > ul > li.end{
    background-color: #080 !important;
}

/*level 1-3 links*/
nav a {
    display: block;
    width: 100%;
    padding: 8px 16px;
    /*background-color: rgba(256,256,0,0.2)*/
}
nav a span {
}
/*level 1 link*/
nav > ul > li.this > a{
    font-weight: 700;
}


@media only screen and (min-width:385px) {
    nav {
        height: 37px;
    }

    /*level 2-3 lists*/ 
    nav ul ul {
        display: none;
        text-align: left;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
        z-index: 1;
        width: 180px;
    }
    /*level 2 list*/ 
    nav > ul > li > ul {
        position: absolute;
        left: 0;
        top: 100%;
    }
    /*level 3+ lists*/ 
    nav ul ul ul {
        left: 0;
        top: 0;
    }

    /*level 1 list item*/
    nav > ul > li {
        width: auto;
        padding: 0;
        float: none;
    }
    nav > ul > #endbar {
        display: inline-block; 
        height: 37px;
        width: 0;
        /*width: calc(100% - 467.37px); /*only displays right in Chrome*/
    }
    /*level 2-3 list items*/
    nav li li {
        display: block;
        padding: 0;
    }

    /*level 1-3 links*/
    nav a {
        display: inline-block;
    }
    nav [href="javascript:void(0)"] {
        cursor: context-menu;
    }
    nav li.external > a:not([href="javascript:void(0)"])::after{
        content: "";
    }
    nav li.external:hover > a:not([href="javascript:void(0)"])::after{
        content: " »" !important;
    }
    /*level 1 links*/
    nav li:hover > a[href="javascript:void(0)"]::after {
        /*content: " ▼";
        font-size: x-small; */
    }
    /*level 2-3 links*/
    nav ul ul a {
        width: 100%; 
    }
    nav > ul > li > ul > li:hover > a[href="javascript:void(0)"]::after {
        /*content: " ⯈";
        font-size: x-small;*/
    } 
    /*level 3 links*/
    nav ul ul ul a {
        text-indent: 8px;
}
}


@media only screen and (max-width: 384px) {
    nav li.external > a:not([href="javascript:void(0)"])::after {
        content: " »";
    }

    a[href="javascript:void(0)"]::after {
        /*content: " ▼";
        font-size: x-small;*/ 
    }  
}
