html {
    font-family: 'Segoe UI', Segoe, sans-serif;
}

body {
    background-color: black;
    background-image: url("thecaterpillar1.5.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;

    color:#888;
    font-size: medium;
    max-width: 800px;
    margin: auto;
    text-align: center;   
}

p, a, h2, h3, h4, h5, h6, ul, ol {
    text-shadow: 0 0 5px #000;
    color: #fff;
    text-decoration: none;
}

.greeting{
    font-weight: 500;
    font-size: larger;
}

.poem{
    font-size: smaller;
}

div.container {
    position: relative;
}

div.container > img.head{
    border-radius: 0 0 20px 20px;
    max-width: 800px;
}

div.icon {
    position: absolute;
    top: 40px;
    left: 40px;
}

img.icon{
    width: 120px;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    margin: auto;
}

div.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-align: right;
}

h1 {
    color: #004;
    margin-bottom: 5px;
    font-family: 'Segoe UI',sans-serif;
    font-size: 36px;
    text-shadow: 0 0 10px white;
}

p.sub {    
    color: #004;
    text-shadow: 0 0 10px #fff;
    margin-top: 0;
    margin-bottom: 8px;
}

div.headinglinks{
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}
  

p, h2, h3, h4, h5, h6{
    clear: left;
}

h2.one {
    border-left: 6px solid #080;
    background-color: #000;
    padding: 5px 10px;
    font-weight: 300;
    text-align: left;
    font-size: inherit;
    margin-top: 2em;
}

.ita {
    font-style:  italic;
    }

.obl {
    font-style:  oblique;
    /* This is
    a multi-line
    comment */
    }

.orig {
    font-family: 'Segoe UI', Segoe, sans-serif;
    color:#888;
    font-size: medium;    
}

.smcaps {
    font-weight: 100;
    font-variant:  small-caps;
}

a.inline-internal:link, a.inline-internal:visited {
    text-decoration: none;
    color: rgb(167, 255, 160);
}

a.inline-internal:hover, a.inline-internal:active {
    color:  rgb(0, 170, 0);
}

a.inline-external:link, a.inline-external:visited {
    text-decoration: none;
    color: #ffb3ad;
}

a.inline-external:hover, a.inline-external:active {
    color: red;
}

a.block-internal:link, a.block-internal:visited {
    background-color: rgba(0, 126, 0, 0.50) ;
    color: white;
    padding: 10px 25px; 
    margin: 1px;
    text-decoration: none;
    display: inline-block;
    font-style: inherit;
    transition-duration: 0.5s;
}

a.block-internal:hover, a.block-internal:active {
    background-color: rgba(0, 126, 0, 1);
    font-style: inherit;
    transition-duration: 0s;
}


a.block-external:link, a.block-external:visited{
    background-color:  rgba(255, 0, 0, 0.5);
    background-image: none;
    color: white;
    text-shadow: 0 0 5px 0 black;
    padding: 10px 25px; 
    margin: 1px;
    text-decoration: none;
    display: inline-block;
    /*font-style: inherit;*/
    transition-duration: 0.5s;
}

a.block-external:hover {
    background-color: red;
    transition-duration: 0s;

}

a.caterpillar:hover{
    background-image: url(rutigblog180.jpg);
    transition-duration: 0.5s;
    background-position: center center;
    background-size: cover;
}

a.meticulosa:hover{
    background-image: url(anshablog180.jpg);
    transition-duration: 0.5s;
    background-position: center center;
    background-size: cover;
}

a.flickr:hover {
    background-image: url(lycle-head-360.jpg);
    transition-duration: 0.5s;
    background-position: center center;
    background-size: cover;
}

a.youtube:hover {
    background-image: url(grayl-head-360.jpg);
    transition-duration: 0.5s;
    background-position: center center;
    background-size: cover;
}

a.checklist:hover {
    background-image: url(eucam-head-360.jpg);
    transition-duration: 0.5s;
    background-position: center center;
    background-size: cover;
}

a.periodic:hover {
    background-image: url(petab-head-360.jpg);
    transition-duration: 0.5s;
    background-position: center center;
    background-size: cover;
}

a.geronimo:hover {
    background-image: url(geron-head-360.jpg);
    transition-duration: 0.5s;
    background-position: center center;
    background-size: cover;
}


.gravatar {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    transition-duration: 0.5s; 
}

.gravatar:hover {
    box-shadow: 0 0 5px white;
    transition-duration: 0s;
}

ul, ol{
    text-align: left;
}

ul.circle {
    list-style-type: circle;
}

ul.square {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}        

.center {
    text-align: center;
    }

ul.nav3 {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgba(0, 128, 0, 0.50);
    height: 37px;
}
ul.nav3 > li {
    position: relative;
    float: left;
}
ul.nav3 > li > a{
    padding: 8px 16px;
    display: inline-block;  
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

ul.nav3 li:hover > a.internal, ul.nav3 li:focus > a.internal{
    background-color: #080;
    transition-duration: 0s;
}
ul.nav3 li:hover > a.external, ul.nav3 li:focus > a.external{
    background-color: #f00;
    transition-duration: 0s;
}
ul.nav3 li > a.this-page{
    background-color: #080;
}

ul.nav3 > li > ul{
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    text-align: left;
    min-width: 160px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

ul.nav3 > li > ul > li{
    position: relative;
}

ul.nav3 > li > ul a{
    color: white;    
    padding: 8px 16px;
    text-decoration: none;
    display: block !important;
    text-align: left !important;
    transition-duration: 0.5s;    
}
ul.nav3 > li > ul a.external {
    background-color: #800;
}
ul.nav3 > li > ul a.external:hover {
    background-color: #f00;
    transition-duration: 0s;
}
ul.nav3 > li > ul a.internal {
    background-color: #040;
}
ul.nav3 > li > ul a.internal:hover {
    background-color: #080;
    transition-duration: 0s;
}

ul.nav3 li:hover > ul, ul.nav3 li:focus > ul {
    display: block;
}        
ul.nav3 > li > ul > li > ul{
    list-style-type: none;
    min-width: 160px;
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
    padding: 0;
}