html {
    font-family: 'Segoe UI', Segoe, sans-serif;
}

body {
    background-color: black;
    background-image: url("thecaterpillar1.5.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;

    color:#888;
    font-size: medium;
    max-width: 800px;
    margin: auto;
    text-align: center;   
}

h1 {
    color: #bcd6ff;
    margin-top: 150px;
    margin-bottom: 5px;
    font-family: Georgia, serif;
    font-size: 36px;
}



p, h2, h3, h4, h5, h6, a {
    text-shadow: 0 0 5px #000;
    color: #fff;
    text-decoration: none;
}

p.sub {    
    color: #bcd6ff;
    text-shadow: 0 0 10px #000;
}

.ita {
    font-style:  italic;
    }

.obl {
    font-style:  oblique;
    /* This is
    a multi-line
    comment */
    }

.orig {
    font-family: 'Segoe UI', Segoe, sans-serif;
    color:#888;
    font-size: medium;    
}

.smcaps {
    font-weight: 100;
    font-variant:  small-caps;
}

.headinglinks{
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}

a.inline-external:link, a.inline-external:visited {
    text-decoration: none;
    color: #ffb3ad;
}

a.inline-external:hover, a.inline-external:active {
    color: red;
}

a.inline-internal:link, a.inline-internal:visited {
    text-decoration: none;
    color: rgb(167, 255, 160);
}

a.inline-internal:hover, a.inline-internal:active {
    color:  rgb(0, 170, 0);
}


a.block-external:link, a.block-external:visited {
    background-color:  rgba(255, 0, 0, 0.5);
    color: white;
    padding: 10px 25px; 
    margin: 1px;
    text-decoration: none;
    display: inline-block;
    font-style: inherit;
}

a.block-external:hover, a.block-external:active {
    background-color: red;
    font-style: inherit
}

a.block-internal:link, a.block-internal:visited {
    background-color: rgba(0, 126, 0, 0.50) ;
    color: white;
    padding: 10px 25px; 
    margin: 1px;
    text-decoration: none;
    display: inline-block;
    font-style: inherit;
}

a.block-internal:hover, a.block-internal:active {
    background-color: rgba(0, 126, 0, 1);
    font-style: inherit;
}

.youtube{
    background-image: url(YouTube_light_color_icon.png);
    background-position: 10px 10px;    
    padding-left: 44px;
    color: #fff;
}

.gravatar {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    text-shadow: inherit inherit 5px #000; 
}

ul.circle {
    list-style-type: circle;
}

ul.square {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}        

.center {
    text-align: center;
    }


