
.feature1 {
    background-color: #002;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border: 1px solid white;
}   
.feature2 {
    max-width: 500px;
    min-width:  100px;
    margin: auto;
    background-color: #001;
    text-align: center;
    padding:  20px;
    border: 10px solid red;
    border-radius: 50px;
}   
.feature3 {
    max-width: 500px;
    min-width:  100px;
    margin: 20px;
    padding:  20px;
    background-color: #000022;
    text-align: center;
}   

h6 {
    color: #ff6a00
} 

.wasp-waist{
    max-width: 400px;
    margin: auto;
}   
     
div.relative {
    position: relative;
    max-width: 400px;
    height: 200px;
    background-color: #f00;
    margin: auto;
} 
div.absolute {
    position: absolute;
    background-color: #d00;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 100px;
}
div.absolute2 {
    position: absolute;
    background-color: #b00;
    top: 30px;
    left: 10px;
    width: 50px;
    height: 50px;
}  
div.yscroll {
    background-color: #eee;
    max-width: 400px;
    height: 100px;
    border: 1px dotted black;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    margin: auto;
    text-align: justify;
    text-align-last: left;
    position: relative;
}
        
img.floatright {
    float: right;
    margin: 0 0 0 10px;
}
        
iframe{
    height: 400px;
    width: 800px;
    border: none;
    box-shadow: 0 0 10px 0 white;
}

div.headinglinks{
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}
        
div.menu1 {
    display: inline-block;
    position: relative;
    text-align: left;
    min-width: 50px;
    color: white;
    padding: 10px 25px; 
    background-color: #f00;
    margin: auto;
    margin-bottom: 16px;
} 
div.drop1{
    display: none;
    position: absolute;
    bottom: -41px;
    left: 0;
    min-width: 50px;
    background-color:  #d00;
    color: white;
    text-align: left;
    padding: 10px 25px; 
    z-index: 0
}
div.menu1:hover div.drop1, div.drop1:hover{
    display: block;
}

.dropbtn {
    font: "Segoe UI", Segoe, sans;
    background-color: rgba(255,0,0,0.5);
    color: white;
    padding: 10px 25px; 
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 0 16px 0;
    z-index: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    z-index: 0;
}
.dropdown-content a {
    color: white;
    padding: 10px 25px; 
    background-color: rgba(256,0,0,0.5);
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: 0.5s;
}
.dropdown-content a:hover {
    background-color: #f00;
    transition-duration: 0s;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #f00;
}
        
